// Here you can add other styles
.mr-10 {
    margin-right:10px;
}
.float-right {
    float: right;
    cursor:pointer;
}
.rotate360 {
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }